# -------------------------------------------------
# Python
# -------------------------------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log
logs/

# Output Figures
output/figures/*
!output/figures/.gitkeep
!output/figures/*.png

# Jupyter
.ipynb_checkpoints/

#GitHub Actions CI 
.pytest_cache
.ruff_cache

# -------------------------------------------------
# Generated Data (Large Files)
# -------------------------------------------------
data/processed/fact_ticket_transactions.csv
data/processed/fact_web_sessions.csv
data/processed/nba_revenue_optimization.sqlite

# -------------------------------------------------
# Power BI
# -------------------------------------------------
*.pbix.autosave

# -------------------------------------------------
# Output Figures (Generated)
# -------------------------------------------------
output/figures/*
!output/figures/.gitkeep